* {
    padding: 0;
    margin: 0;
}

#niftCanvasZERO_ONE
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#niftCanvasZERO_ONE *
{
    pointer-events: all;
}

polygon:hover
{
    /* fill: red; */
}

#niftErrorBody
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#niftErrorBody > #niftErrorLogo
{
    width: 140px;
    height: auto;
    margin-bottom: 12px;
}

#niftErrorBody > #niftErrorText
{
    font-size: 18px;
    color: #00B432;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
}

#niftErrorBody::after
{
    content: 'rendering is not possible until this is fixed.';
    display: block;
    background-color: rgba(0, 180, 51, 0.6);
    padding: 10px 30px;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-family: sans-serif;
}